<!DOCTYPE html>
<html lang="en">
<head>
   {{>headersLink}}
</head>
<body>
    {{>navbar}}
   
     
     <!-- main header -->
   
   <div class="containter-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                <!--Left side div-->
                <div class="col-md-12 col-12 main_header_left align-item-center"> 
                    <figure class="errimg">
                         <img src="image/404.png" alt="anad" class="img-fluid" title="Anand proj">
                    </figure>
                 
                     <p>Go Back to Home Page</p>
                     <h1>{{errorMsg}}</h1>
                     <a href="/" target="_Anand" ><button>Go Home</button></a>
                </div>
                 <!--Right side div-->
                
             </div>
          </div>
      </div>
   </div>

 <!-- footer code-->


    {{>footer}}
    
</body>
</html>