<!DOCTYPE html>
<html lang="en">
<head>
     {{>headersLink}}
</head>
<body>
  
  {{>navbar}}

   <!-- main header -->
   
   <div class="containter-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                <!--Left side div-->
                <div class="col-md-6 col-12 main_header_right"> 
                    <figure>
                         <img src="image/about.png" alt="anad" class="img-fluid" title="Anand proj">
                    </figure>
                 </div>

                <div class="col-md-6 col-12 main_header_left"> 
                     <p>Welcome to weather app</p>
                     <h1>I Am A  <span class="text_clr">Mern Stack Developer</span> And Project Engineer In Wipro.</h1>
                     <a href="https://www.linkedin.com/in/anand-kumar-18b204205/" target="_Anand" ><button>About me</button></a>
                </div>
                 <!--Right side div-->
                
             </div>
          </div>
      </div>
   </div>

<!-- footer code-->
 
{{>footer}}

</body>
</html>